version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml # 호스트에 있는 설정 파일을 컨테이너 내부로 주입
      - prometheus_data:/prometheus # 컨테이너 내부의 데이터를 외부(volume)에 저장해 보존.
    networks:
      - default           # 그라파나와 통신용 (스택 내부)
      - monitoring-bridge # 앱 스택과 통신용 (외부 다리)
    deploy:
      placement:
        constraints: [node.role == manager] # 매니저 노드에 배치

  grafana:
    image: grafana/grafana:latest
    ports: # 호스트의 3000번 포트로 접속하면 컨테이너의 3000번 포트로 연결되도록 설정
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - default           # 프로메테우스와 통신용
    deploy:
      placement:
        constraints: [node.role == manager]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.0 # 스웜 노드들의 CPU/MEM 수집
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - default
    deploy:
      mode: global # Swarm 클러스터 내의 모든 노드에 하나씩 실행하여 전체 노드 감시

networks:
  monitoring-bridge:
    external: true

# 컨테이너가 삭제되어도 데이터를 보존하기 위해 volume 정의
volumes:
  prometheus_data:
  grafana_data: